
// Hexagon General

.hexagon {
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;
}

.hexagon-wrapper {
    text-align: center;
    margin: 1.25rem;
    position: absolute;
    display: inline-block;
}

.hexagon-wrapper-border {
    text-align: center;
    margin: 1rem;
    position: absolute;
    display: inline-block;    
}

.hexagon:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
}

.hexagon:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);
}

// Size

.hexagon-5rem {
    width: 5rem;
    height: 5rem;
    z-index: 2;
}

.hexagon-5rem-border {
    width: 5.5rem;
    height: 5.5rem;
    z-index: 1;
}

// Navigation Colors

.hexagon-primary {
    background: $primary;
    &:hover, &:active {
        background: $secondary;
    }
}

.hexagon-secondary {
    background: $secondary;
    &:hover, &:active {
        background: $primary;
    }
}

.hexagon-white {
    background: $white;
}