
// Size

.img-small {
    height: 5rem;
    width: auto;
}

.img-medium {
    height: 10rem;
    width: auto;
}

.img-large {
    height: 15rem;
    width: auto;
}

// Shape

.circle-image {
    border-radius: 50%;
}

// Orientation

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}